{% extends "Base.html" %}
{% block title %}.: Inicio :.{% endblock %}

{% block contenido %}
<!-- CONTENIDO --><br><br><br>
<div id="ingresaDatos" class="row" style="margin-bottom: 5%;">
    <h2 class="center-align">Puntos a Ingresar</h2>
    <div id="jsonArea" class="center-align">

    </div>
    <article class="col s12">

        <div class="full-width center-align" style="margin: 40px 0; font-size: 24px;">
            <form method="POST" action="/calculate" id="formCoordenadas">
                <div class="row" style="width: 50%;">
                    <div class="input-field col m12 l6">
                        <i class="zmdi zmdi zmdi-pin-help prefix"></i>
                        <input id="coorX" name="coorX" type="number" class="validate" length="16" maxlength="16"
                            minlength="1" required style="font-size: 28px;">
                        <label for="coorX">Coordenada X</label>
                    </div>
                    <div class="input-field col m12 l6">
                        <i class="zmdi zmdi zmdi-pin-help prefix"></i>
                        <input id="coorY" name="coorY" type="number" class="validate" length="16" maxlength="16"
                            minlength="1" required style="font-size: 28px;">
                        <label for="coorY">Coordenada Y</label>
                    </div>
                </div>
                <div class="row" style="width: 50%;">
                    <div class="input-field col m12 l6">
                        <button id="btnAdd" type="button" class="waves-effect waves-light btn-large pink darken-1"><i
                                class="zmdi zmdi-plus-circle left"></i>Agregar Puntos</button>
                    </div>
                    <div class="input-field col m12 l6">
                        <button id="btnCalculate" type="button" class="waves-effect waves-light btn-large blue"><i
                                class="zmdi zmdi-swap-vertical-circle left"></i>Calcular Puntos</button>
                    </div>
                </div>
            </form>
        </div>

    </article>
    <div class="row center-align notifyCoords" id="divElements">

    </div>
</div>

<div id="muestraDatos" class="row" style="margin-bottom: 5%; display: none; width: 75%;">
    <h2 class="center-align">Resultados obtenidos</h2>
    <article class="col s12">

        <textarea name="areaDatos" id="areaDatos" class="datosArea" cols="40" rows="20" disabled>

        </textarea><br><br>
        <div class="row center-align">
            <a href="/" class="waves-effect waves-light btn-large teal">Volver a calcular</a>
        </div><br><br>
        <div class="row center-align">
            <img id="grafica" src="" alt="">
        </div>
    </article>
</div>

<!-- CONTENIDO -->
{% endblock %}

{% block finalJS %}
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}